body{
    margin: 0;
    background-color: #d3dbb4;
}

.contact-page-header{
    text-align: center;
    padding: 5px 20px;
    background-color: #1D4032;
    color: #f5f5dc;
}

.contact-page-header h1{
    font-size: 2.5rem;
   
}

.board-container{
    max-width: 1100px;
    padding: 40px 20px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    column-gap: 100px;
    align-items: center;
    flex: 1;
}

.board-card{
    background-color: #f5f5dc;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: transform 0.36 ease;
    width: 220px;
    
}

.board-card h2{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
.board-card p{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

.board-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-image-wrapper img{
    width: 100%;
    max-width: 300px;
    height: 260px;
    object-fit:cover;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.awareness-quote-card{
    background-color: #f5f5dc;
    padding: 50px 60px;
    margin-left: 100px;
    border-radius: 150px;
    text-align: justify;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: transform 0.36 ease;
    width: 800px;
    display: flex;
}

.awareness-quote-card h1{
    color: #1D4032;
}

.contact-info-card{
    color: #1D4032;
    margin: 30px 100px;
}

.contact-info-card h2{
    text-decoration: underline;
    font-size: 4rem;
}

.contact-info-card p{
    font-size: 2rem;
}