body{
    background: 
       linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)), 
       url('Images/farm1.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    color: #f5f5dc;
    overflow-x: hidden;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #1d4032;
}

.logo {
    height: 70px;
    width: 100px;
    display: block;
}

.nav-links{
    display: flex;
    gap: 50px;
    
}

.nav-links a{
    color: #f5f5dc ;
    text-decoration: none;
    margin: 0 3px;
    font-size: larger;
    
}

.nav-links :hover{
    
    color: #db8609;
}


.decor-image{
    width: 100%;
    height: auto;
    padding-top: 30px ;
    margin-left: 0;
}

.two-column-section{
    display: flex;
    align-items:flex-start;
    padding: 50px;
    flex-wrap: wrap;
    padding-top: 0;
}

.about-column-text{  /*make the text occupy about 70% of the screen. i.e. make the text wider*/
    margin-right: 5%;
    padding: 0px 10px;
    padding-top: 30px;
    font-size: xx-large;
    width: 50%;
}

.about-column-image{ /*make the image bigger*/
    padding: 0px, 30px;
    width: 30%;
    margin-top: 0;
    padding-top: 0x;
    height: 200%;
}

.about-column-image img{
    width: 250%;
    height: auto;
    display: block;
    height: 500%;
}

footer{
    background: #794432;
    color: #f5f5dc;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}



