body{
    background: 
       linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)), 
       url('Images/farm1.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    color: #f5f5dc;
    overflow-x: hidden;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #1d4032;
}

.logo {
    height: 70px;
    width: 100px;
    display: block;
}

.nav-links{
    display: flex;
    gap: 30px;
    
}

.nav-links a{
    color: #f5f5dc ;
    text-decoration: none;
    margin: 0 3px;
    font-size: 1.2rem;
    
}

.nav-links :hover{
    
    color: #db8609;
}


.decor-image{
    width: 100%;
    height: auto;
    padding-top: 30px ;
    margin-left: 0;
}

.two-column-section{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding-left: 80px;
    height: 100vh;
}

.about-column-text{  /*make the text occupy about 70% of the screen. i.e. make the text wider*/
  max-width: 600px;
}

.about-column-text h1{
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
}

.about-column-text p{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    line-height: 1.4;
    margin-left: 45px;
}

.about-column-image{ /*make the image bigger*/
   flex: 1;
   display: flex;
   justify-content: flex-end;
}

.about-column-image img{
    width: 100%;
    height: auto;
    max-width: 700px;
}




