body{
    margin: 0;
    background-color: #f5f5dc;
    color: #1D4032;
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(Images/farm1.jpg) center/cover;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: xx-large;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
    
    
}

.section{
    background-color: #a1650a;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.section h2{
    color: #1D4032;
    margin:10px 5px;
    font-size: 2.5rem;
}

.section p{
    color:#f5f5dc;
    font-size: 1.5rem;
    line-height: 1.8;
}

.values{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 50px;
    row-gap: 30px;
    margin-top: 20px;
    text-align: center;
    
}

.value-box{
    background-color: #5c2f04;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow:0 5px 15px rgba(0,0,0,0.08) ;
}

.value-box h3{
    color: #388e3c;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer{
    background-color: #5c2f04;
    color: #fff;
    text-align: center;
    padding: 5px;
}





