*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d3dbb4;
    color: #f5f5dc;
}

.page-header{
    text-align: center;
    padding: 30px 20px;
    background-color: #1D4032;
    color: #f5f5dc;
}

.page-header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.page-header p{
    font-size: 1.2rem;
}

.product-container{
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.product-card{
    background-color: #f5f5dc;
    border-radius: 25px;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: transform 0.36 ease;
    width: 360px;

}

.product-card h2{
    color: #1D4032;
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-card p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #1D4032;
}

.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img{
    width: 100%;
    max-width: 300px;
    height: 260px;
    object-fit:cover;
    display: block;
    margin-bottom: 10px;
    border-radius: 15px;
    
}
.product-card:hover{
    transform: translateY(-10px);
}

.button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.order-btn{
    background-color: #1D4032;
    color: #f5f5dc;
    border:none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: transform 0.2s, background-color 0.2s;
    letter-spacing: 2px;
    font-weight: bold;
    
}

.order-btn:hover{
    background-color: #2a5c48;
    transform: scale(1.05);
}

