body{
    background-color: #f5f5dc;

}

h1{
  color: #1d4302;
  text-align: center;
}

p{
    margin: 20px 150px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: larger;
    background-color: #794432;
    border-radius: 5px;
}

.productImage{
    padding-left: 30px;
    margin-left: 150px;
    max-width: 100%;
}